* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  /* height: 13rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  height: 8rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  justify-items: center;
  max-width: 90%;
  width: 100%;
  gap: 1.5rem;
}

.card {
  padding: 2rem 2.8rem;
  border-radius: 0.5rem;
  max-width: 350px;
  line-height: 1.4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: transparent 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
}

.card:hover {
  box-shadow: rgba(121, 121, 251, 0.12) 0px 2px 4px 0px,
    rgba(121, 121, 251, 0.82) 0px 2px 16px 0px;
  /* box-shadow: rgba(63, 63, 250, 0.35) 0px 5px 15px; */
}

.card:nth-child(1) {
  background-image: url("../src/assets/images/bg-card-1.png");
}
.card:nth-child(2) {
  background-image: url("../src/assets/images/bg-card-2.png");
}

.card:nth-child(3) {
  background-image: url("../src/assets/images/bg-card-3.png");
}

.card:nth-child(4) {
  background-image: url("../src/assets/images/bg-card-4.png");
}

.card:nth-child(5) {
  background-image: url("../src/assets/images/bg-card-5.png");
}

.card:nth-child(6) {
  background-image: url("../src/assets/images/bg-card-6.png");
}
.date {
  color: rgb(157, 157, 157);
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
}
.text {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2rem;
}

.more-info {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-top: 2px solid rgb(142, 46, 46);
  color: rgb(255, 232, 31);
}

.loading-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
@keyframes ldio-d0mdkepfzjp {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.ldio-d0mdkepfzjp > div {
  transform-origin: 100px 100px;
  animation: ldio-d0mdkepfzjp 0.2s infinite linear;
}
.ldio-d0mdkepfzjp > div div {
  position: absolute;
  width: 22px;
  height: 152px;
  background: gold;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%);
}
.ldio-d0mdkepfzjp > div div:nth-child(1) {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.ldio-d0mdkepfzjp > div div:nth-child(6) {
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 50%;
}
.ldio-d0mdkepfzjp > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.ldio-d0mdkepfzjp > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.ldio-d0mdkepfzjp > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}
.loadingio-spinner-gear-u0ohqheslyo {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}
.ldio-d0mdkepfzjp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-d0mdkepfzjp div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

@media screen and (max-width: 1240px) {
  body {
    border: 2px solid red;
  }
}
